html, body {
    margin: 0;
    padding: 0;
}

.container {
    background-image: url(background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-flow: column wrap;
    height: 630px;
    width: 403px;
    background-color: violet;
    border-radius: 20px;
    border: 6px solid rgb(238, 160, 238);
    box-shadow: 6px 3px rgb(238, 160, 238);
}

.displaycontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 385px;
    height: 158px;
    border-radius: 21px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgb(243, 239, 239); 
    width: 371px;
    height: 115px;
    border-radius: 21px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 9px;
    margin-top: 17px;
}

.button{
    background-color: rgb(255, 255, 255);
    width: 81px;
    height: 81px;
    line-height: 81px;
    text-align: center;
    font-size: 42px;
    border-radius: 7px;
    border: 2px solid rgb(68, 8, 68);;
}

.bigbutton {
    width: 170px;
    height: 63px;
    line-height: 63px;
    font-size: 28px;
    border-radius: 15px;
}

.button:hover {
    background-color: rgb(214, 215, 216);
}

.button:active {
    background-color: rgb(197, 203, 209);
}

.bigbutton#clear {
    background-color: rgb(255, 98, 81);
}

.bigbutton#clear:hover {
    background-color: rgb(255, 59, 37);
}

.bigbutton#clear:active {
    background-color: rgb(225, 20, 20);
}

.bigbutton#delete {
    background-color: rgb(187, 223, 255);
}

.bigbutton#delete:hover {
    background-color: rgb(114, 189, 255);
}

.bigbutton#delete:active {
    background-color: rgb(105, 155, 195);
}

.input {
    justify-self: center;
    align-self:flex-end;
    width: 350px;
    height: 42px;
    text-align: end;
    font-size: 46px;
    margin-right: 12px;
    margin-bottom: 10px;
}   

#calculation {
    justify-self: center;
    align-self: flex-start;
    width: 350px;
    height: 42px;
    text-align: start;
    font-size: 29px;
    margin-left: 13px;
    margin-bottom: 10px;
    color: gray;
}   