@viewport {
      width: device-width ;
      zoom: 1.0 ;
    } 

html, body {
    margin: 0;
    padding: 0;
}

.container {
    background-image: url(background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.calculator {
    display: flex;
    flex-flow: column wrap;
    height: 70vh;
    width: 22vw;
    background-color: violet;
    border-radius: 30px;
    border: 8px solid rgb(238, 160, 238);
    box-shadow: 8px 4px rgb(238, 160, 238);
}

.displaycontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 20vw;
    height: 225px;
    border-radius: 30px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgb(243, 239, 239); 
    width: 530px;
    height: 150px;
    border-radius: 30px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13px;
    margin-top: 25px;
}

.button{
    background-color: rgb(255, 255, 255);
    width: 115px;
    height: 115px;
    line-height: 115px;
    text-align: center;
    font-size: 60px;
    border-radius: 10px;
    border: 3px solid rgb(68, 8, 68);;
}

.bigbutton {
    width: 243px;
    height: 90px;
    line-height: 90px;
    font-size: 40px;
    border-radius: 20px;
}

.button:hover {
    background-color: rgb(214, 215, 216);
}

.button:active {
    background-color: rgb(197, 203, 209);
}

.bigbutton#clear {
    background-color: rgb(255, 98, 81);
}

.bigbutton#clear:hover {
    background-color: rgb(255, 59, 37);
}

.bigbutton#clear:active {
    background-color: rgb(225, 20, 20);
}

.bigbutton#delete {
    background-color: rgb(187, 223, 255);
}

.bigbutton#delete:hover {
    background-color: rgb(114, 189, 255);
}

.bigbutton#delete:active {
    background-color: rgb(105, 155, 195);
}

.input {
    justify-self: center;
    align-self:flex-end;
    width: 500px;
    height: 60px;
    text-align: end;
    font-size: 65px;
    margin-right: 15px;
    margin-bottom: 10px;
}   

#calculation {
    justify-self: center;
    align-self: flex-start;
    width: 500px;
    height: 60px;
    text-align: start;
    font-size: 42px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: gray;
}   